.iscrizioni .titolo{height:45px; margin-top:10px; font-size:2.7em; font-family:RockwellExtraBold,Georgia, 'Lucida Grande','Lucida Sans Unicode','Lucida Sans', Georgia, Verdana, Tahoma, Arial, Times New Roman;}
.titolo img{margin-top:3px;}

a, a:hover {text-decoration:none; color:#5e121c; font-weight:bold;}

.right a, .right a:hover{font-style:normal;}

ul.calendario{list-style-type:circle !important; list-style-position:inside !important;}
ul.calendario li{padding: 5px 10px;}

ul.quote{list-style-type:circle !important; list-style-position:inside !important;}
ul.quote li{padding: 5px 0 0 5px;}