.squadra .left img{padding:10px; background-color:#5e121c;}
.squadra .titolo{height:45px; margin-top:10px; font-size:2.7em; font-family:RockwellExtraBold,Georgia, 'Lucida Grande','Lucida Sans Unicode','Lucida Sans', Georgia, Verdana, Tahoma, Arial, Times New Roman;}
.squadra .titolo img{padding:0;background:none; margin-top:3px;}

