header {
    div.mast-head {
        height: 215px;
        background: transparent url('/images/layout/header.jpg') no-repeat scroll 0 0;
        background-size: cover;
        position: relative; /*border-bottom: 1px solid #5E121C;*/
    }
}
