<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BeServiceSoap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://www.mercenari.it/BeService.asmx" binding="basicHttpBinding"
    bindingConfiguration="BeServiceSoap" contract="MercenariUpdater.BeServiceSoap"
    name="BeServiceSoap" />
  </client>
 </system.serviceModel>
</configuration>